.App {
  text-align: center;
  padding: 0px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding-top: 1rem;
}

.Container {
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}

.Menu {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: #ffffff33 !important;
  color: rgba(255, 255, 255, 0.87) !important;
}

.Input {
  margin-left: 8px;
  flex: 1;
  color: rgba(255, 255, 255, 0.87) !important;
}

.button {
  padding: 10px;
  color: rgba(255, 255, 255, 0.87) !important;
}

.MenuButton {
  color: rgba(255, 255, 255, 0.87) !important;
}

.Drawer {
  width: 250px;
  /* flex-shrink: 0, */
}

.DrawerPaper {
  width: 250px;
}

.Task {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px 0px;
  background-color: #ffffff33 !important;
  /* color: rgba(255, 255, 255, 0.87) !important; */
}
